<header class="mdc-top-app-bar app-bar" id="app-bar" data-target="app.appbar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon">menu</a>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <i>
               <img src="./assets/images/yucatalks_white.svg">
            </i>
        </section>
    </div>
</header>