<aside class="mdc-drawer mdc-drawer--modal" data-target="app.drawer">
        <div class="mdc-drawer__content">
          <nav class="mdc-list" data-target="app.nav">
            <a class="mdc-list-item mdc-list-item--activated" href="/" aria-current="page">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
              <span class="mdc-list-item__text">Home</span>
            </a>
            <a class="mdc-list-item" href="https://nearsoft.com/">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true"><img src="/assets/images/logo_orange.svg" width="100%"></i>
              <span class="mdc-list-item__text">Nearsoft</span>
            </a>
          </nav>
        </div>
      </aside>
    
    <div class="mdc-drawer-scrim"></div>