
$mdc-theme-primary: #E54800;
$mdc-theme-secondary: #606A70;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/layout-grid/mdc-layout-grid";

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  font-family: 'Rubik Mono One', serif;

}
  
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
  
.main-content {
  overflow: auto;
  height: 100%;
}
  
.app-bar {
  position: relative;
}

.text-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.regular {
    color: $mdc-theme-secondary;
    font-family: 'Rubik', sans-serif;
    font-size: 8vw;
}

.bold {
    color: $mdc-theme-primary;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 8vw;
}
  
