<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="./dist/styles.css" rel="stylesheet" type="text/css"><link href="https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
    <script src="./dist/index.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body data-controller="app">
        {% include drawer.html %}
        <div class="mdc-drawer-app-content">
            {% include appbar.html title=page.title %}
      
          <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust">
              {{ content }}
            </div>
          </main>
        </div>
      </body>
</html>